<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Edumaster</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <LINK REL=StyleSheet HREF="/css/estilo.css" TYPE="text/css" MEDIA=screen>
</head>
<body>
    <nav class="navbar navbar-light bg-light justify-content-between header">
        <b><a class="navbar-brand icono" th:href="@{/ConsultaEmpleado}"><span class="edu">EDU</span>MASTER</a></b>
        <a th:href="@{/login}"><span class="login">Iniciar sesión</span></a>
    </nav>